{% extends 'base.html.twig' %}

{% block title %}{{app.user.name}} 
{% endblock %}

{% block body  %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/build/menuedit.js" ></script>
	<script>
		//guardamos la id del usuario actual para usarla en el js
        var userId = {{ app.user.id}};
    </script>
    <script src="/build/likes.js" ></script>
	<link rel="stylesheet" href="/build/post.css" >
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content" class="content content-full-width">
                    <!-- begin profile -->
                    <div class="profile">
                    <div class="profile-header">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content">
                            <!-- BEGIN profile-header-img -->
                            <div class="profile-header-img">
                            {% if user.imageprofile %}
                                <img class="userimg" src="/avatares/{{user.imageprofile}}" alt="">
                            {% else %}
                                <img class="userimg" src="/avatares/user.png" alt="">
                            {% endif %}
                            </div>
                            <!-- END profile-header-img -->
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info">
                                <h4 class="m-t-10 m-b-5">{{user.name}} {{user.lastname}}</h4>
                                <p class="m-b-10">--</p>
                                {% if is_granted('ROLE_ADMIN') or app.user.id == user.id %}
                                    <a href="/user/{{user.id}}/edit" class="btn btn-sm btn-info mb-2">Editar Perfil</a>
                                {% endif %}

                            </div>
                            <!-- END profile-header-info -->
                        </div>
                        <!-- END profile-header-content -->
                        <!-- BEGIN profile-header-tab , un nav para intereactuar con el perfil del usuario en descarte de momento-->
                        <ul class="profile-header-tab nav nav-tabs">
                            <li class="nav-item"><a href="#" target="__blank" class="nav-link_"></a></li>
                            {# <li class="nav-item"><a href="#" target="__blank" class="nav-link_">ABOUT</a></li>
                            <li class="nav-item"><a href="#" target="__blank" class="nav-link_">PHOTOS</a></li> #}
                            
                        </ul>
                        <!-- END profile-header-tab -->
                    </div>
                    </div>
                    <!-- end profile -->
                    <!-- begin profile-content -->
                    <div class="profile-content">
                    <!-- begin tab-content -->
                    <div class="tab-content p-0">
                        <!-- begin #profile-post tab -->
                        <div class="tab-pane fade active show" id="profile-post">
                            <!-- begin timeline -->
                            <ul class="timeline">
                                {% for post in user.posts %}
                                <li>
                                    <!-- inicio timeline-time -->
                                    <div class="timeline-time">
                                        <span class="date">
                                            {% if post.date|date('Y-m-d') == "now"|date('Y-m-d') %}
                                                HOY
                                            {% else %}
                                                {{ post.date ? post.date|date('d') }} {{ post.date ? post.date|date('F') }}  {{ post.date ? post.date|date('Y') }}
                                                {# {{ post.date ? post.date|date('d/m/Y') : '' }} #}
                                            {% endif %}
                                        </span>
                                        <span class="time">{{post.date ? post.date|date('H:i') : ''}}</span>
                                    </div>
                                    <!-- fin timeline-time -->
                                    <!-- inicio timeline-icon -->
                                    <div class="timeline-icon">
                                        <a href="javascript:;">&nbsp;</a>
                                    </div>
                                    <!-- fin timeline-icon -->
                                    <!-- inicio timeline-body -->
                                    <div class="timeline-body">
                                        <div class="timeline-header">
                                            {% if post.iduser.imageprofile %}
                                                <span class="userimage"><img width='35px' height='35px' class="rounded-circle" src="/avatares/{{post.iduser.imageprofile}}" alt=""></span>
                                            {% else %}
                                                <span class="userimage"><img width='35px' height='35px' class="rounded-circle" src="/avatares/user.png" alt=""></span>
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN') or app.user.id == post.iduser.id %}					
                                                <span class="pull-right text-muted">
                                                    <div class="dropdown " id="post-{{ post.id }}" onclick="menuDeploy({{ post.id }})">
                                                        <i class="fa fa-ellipsis-v opciones" aria-hidden=""></i>
                                                        <div class="dropdown-content">
                                                            <a href="{{ path('app_post_edit', {'id': post.id}) }}">Editar</a>
                                                            <a href="{{ post.id }}">{{ include('post/_delete_form.html.twig') }}</a>
                                                        </div>
                                                    </div>
                                                </span>
                                            {% endif %}
                                            <span class="username">
                                                <a href="#">{{post.iduser}}</a>
                                                <small></small>
                                            </span>					
                                        </div>
                                        
                                        <div class="timeline-content">
                                            <p>
                                            {{post.text}}
                                            </p>
                                            {% if post.image %}
                                                <img src="/postImage/{{post.image}}">
                                            {% endif %}
                                        </div>
                                        <div class="timeline-likes">
                                            <div class="stats-right">
                                                {# <span class="stats-text">259 Shares</span> #}
                                                <span class="stats-text">{{post.comments|length}} Comentarios</span>
                                            </div>
                                            <div class="stats">
                                                <span class="fa-stack fa-fw stats-icon">
                                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                </span>
                                                <span class="stats-total {{post.id}}" id="{{post.id}}">{{post.likes|length}}</span>
                                            </div>
                                        </div>
                                        <div class="timeline-footer">
                                            <a href="javascript:;" class="m-r-15 text-inverse-lighter like-button"  data-post-id="{{ post.id }}">
                                                <i class="fa fa-thumbs-up fa-fw fa-lg m-r-3" id="like{{post.id}}"></i>Like</a>
                                            <a href="/post/{{post.id}}" class="m-r-15 text-inverse-lighter">
                                                <i class="fa fa-comments fa-fw fa-lg m-r-3"></i>Comment</a>
                                        </div>
                                        <div class="timeline-comment-box">
                                        <p class="text-center">Comentarios</p>
                                        {% for comment in post.comments|slice(0, 4) %}                                                    
                                                {# Renderizar los 4 comentarios más recientes #}
                                                    <div class="input">                                              
                                                            {% if comment.iduser.imageprofile %}								
                                                                <div class="user"><img src="/avatares/{{comment.iduser.imageprofile}}"></div>
                                                            {% else %}
                                                                <div class="user"><img src="/avatares/user.png"></div>
                                                            {% endif %}
                                                            {% if is_granted('ROLE_ADMIN') or app.user.id == comment.iduser.id %}					
                                                                <span class="pull-right text-muted">
                                                                    <div class="dropdown " id="comment-{{ comment.id }}" onclick="menuCDeploy({{ comment.id }})">
                                                                        <i class="fa fa-ellipsis-v opciones" aria-hidden=""></i>
                                                                        <div class="dropdown-content">
                                                                            <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Editar</a>
                                                                            <a href="{{ comment.id }}">{{ include('comment/_delete_form.html.twig') }}</a>
                                                                            <a href="#">3</a>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            {% endif %}
                                                            <span class="username">
                                                                <a class="commentuser" href="/user/{{comment.iduser.id}}">{{ comment.iduser }}</a>
                                                                <small>{{ comment.date|date('Y-m-d H:i') }}</small>
                                                            </span>
                                                            <p>{{ comment.content }}</p>
                                                        
                                                    </div>
                                        {% endfor %}
                                            
                                            {# ---- AÑADIR COMENTARIOS ---- #}
                                            {# <form method="post" action="{{ path('app_comment_new') }}">
                                                <input type="hidden" name="post_id" value="{{ post.id }}">

                                                {% set formId = 'comment_form_' ~ post.id %}
                                                {{ form_start(form, {'attr': {'id': formId}}) }}

                                                <div class="input-group">
                                                    {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_row(form._token) }}

                                                    <span class="input-group-btn p-l-10">
                                                        <button class="btn btn-primary f-s-12 rounded-corner" type="submit">Comment</button>
                                                    </span>
                                                </div>

                                                {{ form_end(form) }}
                                            </form> #}
                                        
                                        </div>
                                    </div>
                                    <!-- fin timeline-body -->
                                </li>
                                {% endfor %}
                            <!-- end timeline -->
                        </div>
                        <!-- end #profile-post tab -->
                    </div>
                    <!-- end tab-content -->
                    </div>
                    <!-- end profile-content -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}